
<body class="bg-opacity-75 bg-black">
<div class="container p-5 mb-4 rounded-3" style="background-color: black">
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="card bg-black">
      <h1 style="color: rgb(35, 215, 96)">New user</h1>
      <div class="card-body">
      <div class="mb-3">
        <%=form.label "full name", {class: "form-label"}, style: "color: rgb(35, 215, 96)" %>
        <%=form.text_field :full_name, {class: "form-control"} %>
      </div>

      <div class="mb-3">
        <%=form.label "username", {class: "form-label"}, style: "color: rgb(35, 215, 96)" %>
        <%=form.text_field :username, {class: "form-control"} %>
      </div>

      <div class="mb-3">
        <%= form.label "password", {class: "form-label"}, style: "color: rgb(35, 215, 96)" %>
        <%= form.password_field :password_hash, class: "form-control" %>
      </div>

        <div class="mb-3 text-white">
          <%= form.label :humanizer_answer, @user.humanizer_question %>
          <%= form.text_field :humanizer_answer %>
          <%= form.hidden_field :humanizer_question_id %>
        </div>
    </div>
  </div>
  <p>
  <div class ="actions">
    <%= form.submit "Register", class:"btn btn-lg", style: "background: rgb(35, 215, 96)" %>
  </div>
<% end %>
</div>
</body>