<div id="<%= dom_id user %>">
  <p>
    <strong>Full name:</strong>
    <%= user.full_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password hash:</strong>
    <%= user.password_hash %>
  </p>

  <p>
    <strong>Spotifyuid:</strong>
    <%= user.spotifyuid %>
  </p>

</div>
