<body class="bg-danger">
<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <h1><%="#{@user.full_name}" %></h1>
      </div>
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"><%=@user.full_name %></dd>

        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9"><%=@user.username %></dd>
      </dl>
      <div class="row">
        <h2>Playlists:</h2>
      </div>
      <div class="row">
        <% @playlists = Playlist.where(user_id: @user.id) %>
        <% if @playlists %>
          <% @playlists.each do |playlist| %>
            <p> <%=playlist.name %> </p>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <% if @user == current_user %>
        <div class="col text-left">
          <a class="mt-4 btn btn-lg" href="<%= current_user.id %>/playlists/new" style="background: rgb(35, 215, 96)">New Playlist</a>
        </div>
          <% end %>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <h1>Songs</h1>
      </div>
      <div id="songs" class="d-flex flex-nowrap">
        <% @user.songs.each_slice(2) do |song1, song2| %>
          <div class="container-fluid">
            <div class="row mt-3 mb-4 d-flex">
              <div class="col-sm-6">
                <div class="card text-center h-100 bg-black">
                  <div class="card-body">
                    <%=image_tag(song1.image, size: "200x200") %>
                    <h5 class="card-title mt-3" style="color: rgb(35, 215, 96)"><%="#{song1.name}" %></h5>
                    <p class="card-text " style="color: rgb(35, 215, 96)"><%=h truncate("#{song1.artist}", :length => 120) %></p>
                    <div class="mt-auto" style="background: black">
                      <p class="card-text"><small class="text-muted">Popularity: <%="#{song1.popularity}" %></small></p>
                      <a href="songs/<%="#{song1.id}" %>" class="btn btn-lg" style="background: rgb(35, 215, 96)">View Song</a>
                      <% if @user == current_user %>
                      <a href="/delete_song/<%=current_user.id %>/<%=song1.id %>" class="btn btn-lg mt-3" style="background: rgb(35, 215, 96)">Remove song</a>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <%if song2 %>
                <div class="col-sm-6">
                  <div class="card text-center h-100 bg-black">
                    <div class="card-body">
                      <%=image_tag(song2.image, size: "200x200") %>
                      <h5 class="card-title mt-3" style="color: rgb(35, 215, 96)"><%="#{song2.name}" %></h5>
                      <p class="card-text" style="color: rgb(35, 215, 96)"><%=h truncate("#{song2.artist}", :length => 120) %></p>
                      <div class="mt-auto" style="background: black">
                        <p class="card-text"><small class="text-muted">Popularity: <%="#{song2.popularity}" %></small></p>
                        <a href="songs/<%="#{song2.id}" %>" class="btn btn-lg" style="background: rgb(35, 215, 96)">View Song</a>
                        <% if @user == current_user %>
                          <a href="/delete_song/<%=current_user.id %>/<%=song2.id %>" class="btn btn-lg mt-3" style="background: rgb(35, 215, 96)">Remove song</a>
                        <% end %>

                      </div>
                    </div>
                  </div>
                </div>
              <%end %>
        <% end %>
        </div>
        </div>
      </div>
    </div>
</div>
</div>
</body>

