<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

  <p>
    <strong>Spotify:</strong>
    <%= song.spotify_id %>
  </p>

  <p>
    <strong>Popularity:</strong>
    <%= song.popularity %>
  </p>

</div>
