<body class="bg-opacity-75 bg-black">
<div class="container">
  <div class="container-fluid">
    <div class="row align-items-md-stretch my-4">
      <div class="col-md-12">
        <div class="h-100 p-5 bg-dark rounded-3">
          <h3 class="d-flex justify-content-center display-5" style="color: rgb(35, 215, 96)">Pick at least 3 songs to seed your recommendation.</h3>
          <% if session[:songs] %>
            <% if session[:songs].size >= 3 %>
              <div class="col text-center">
            <a class="mt-4 btn btn-lg" href="/submit" style="background: rgb(35, 215, 96)">Submit</a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch my-4">
      <div class="col-md-12">
        <div class="h-100 p-5 rounded-3" style="background: rgb(35, 190, 70)">
          <h3 class="fw-bold d-flex justify-content-center display-5" style="color: black">Your cart</h3>
          <% if session[:songs] %>
            <% s = session[:songs].compact %>
            <% s.each_slice(2) do |song1id, song2id| %>
              <%song1 = Song.find_by(id: song1id) %>
              <div class="container-fluid">
                <div class="row mt-3 mb-4 d-flex">
                <div class="col-sm-6">
                    <div class="card text-center bg-black">
                      <div class="card-body">
                    <%=image_tag(song1.image, size: "100x100") %>
                    <h5 class="card-title mt-3" style="color: rgb(35, 215, 96)"><%="#{song1.name}" %></h5>
                    <p class="card-text " style="color: rgb(35, 215, 96)"><%=h truncate("#{song1.artist}", :length => 120) %></p>
                    <div class="mt-auto" style="background: black">
                      <p class="card-text"><small class="text-muted">Popularity: <%="#{song1.popularity}" %></small></p>
                    </div>
                  </div>
                    </div>
                  </div>
                  <%song2 = Song.find_by(id: song2id ) %>
                  <% if song2 %>
                    <div class="col-sm-6">
                  <div class="card text-center bg-black">
                    <div class="card-body">
                      <%=image_tag(song2.image, size: "100x100") %>
                      <h5 class="card-title mt-3" style="color: rgb(35, 215, 96)"><%="#{song2.name}" %></h5>
                      <p class="card-text" style="color: rgb(35, 215, 96)"><%=h truncate("#{song2.artist}", :length => 120) %></p>
                      <div class="mt-auto" style="background: black">
                        <p class="card-text"><small class="text-muted">Popularity: <%="#{song2.popularity}" %></small></p>
                      </div>
                    </div>
                  </div>
                </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%end %>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch my-4">
      <div class="col-md-12">
        <div class="h-100 p-5 bg-dark rounded-3">
          <% current_user.songs.each_slice(2) do |song1, song2| %>
            <div class="container-fluid">
              <div class="row mt-3 mb-4 d-flex">
                <div class="col-sm-6">
                  <div class="card text-center bg-black">
                    <div class="card-body">
                      <%=image_tag(song1.image, size: "100x100") %>
                      <h5 class="card-title mt-3" style="color: rgb(35, 215, 96)"><%="#{song1.name}" %></h5>
                      <p class="card-text " style="color: rgb(35, 215, 96)"><%=h truncate("#{song1.artist}", :length => 120) %></p>
                      <div class="mt-auto" style="background: black">
                        <p class="card-text"><small class="text-muted">Popularity: <%="#{song1.popularity}" %></small></p>
                        <a href="/smart/<%= "#{current_user.id}" %>/<%="#{song1.id}" %>" class="btn btn-lg" style="background: rgb(35, 215, 96)">Pick Song</a>
                      </div>
                    </div>
                    </div>
                  </div>
                <% if song2 %>
                  <div class="col-sm-6">
                    <div class="card text-center bg-black">
                      <div class="card-body">
                        <%=image_tag(song2.image, size: "100x100") %>
                        <h5 class="card-title mt-3" style="color: rgb(35, 215, 96)"><%="#{song2.name}" %></h5>
                        <p class="card-text" style="color: rgb(35, 215, 96)"><%=h truncate("#{song2.artist}", :length => 120) %></p>
                        <div class="mt-auto" style="background: black">
                          <p class="card-text"><small class="text-muted">Popularity: <%="#{song2.popularity}" %></small></p>
                          <a href="/smart/<%= current_user.id %>/<%="#{song2.id}" %>" class="btn btn-lg" style="background: rgb(35, 215, 96)">Pick Song</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>